.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar maincontent";
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "headerrowone"
        "headerrowtwo";
}

.headerrowone{
    grid-area: headerrowone;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin-bottom: 20px;
}

.headerrowtwo{
    grid-area: headerrowtwo;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}


.hiusername2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
}

.hiuser{
    font-size: 12px;
}

.sidebar{
    grid-area: sidebar;
    background-color: #1892d3;
    font-size: 30px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.smalltext{
    font-size: 22px;
    padding: 5px;
}

.dashboard{
    margin-bottom: 50px;
    font-size:35px;
    margin: none;
    display: flex;
}

.dashboard svg{
    margin-right: 10px;
}

.communities{
    margin-bottom: 50px;
}

.maincontent{
    grid-area: maincontent;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    background-color: #e1e8f0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 400px 500px;
    grid-template-areas: 
        "yp yp yp"
        "card1 card2 card3"
        "card4 card5 card6";
    background-color: #e1e8f0;
    border-radius: 15px;
    margin: 20px;
}

.heading{
    font-weight: bold;
    font-size: 24px;
}

.yp{
    grid-area: yp;
}

.card1{
    grid-area: card1;
    background-color: white;
    margin: 15px;
    border-left: 5px solid #f1b32b;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    
}

.card2{
    grid-area: card2;
    background-color: white;
    margin: 15px;
    border-left: 5px solid #f1b32b;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    
}

.card3{
    grid-area: card3;
    background-color: white;
    margin: 15px;
    border-left: 5px solid #f1b32b;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    
}

.card4{
    grid-area: card4;
    background-color: white;
    margin: 15px;
    border-left: 5px solid #f1b32b;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
}

.card5{
    grid-area: card5;
    background-color: white;
    margin: 15px;
    border-left: 5px solid #f1b32b;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
}

.card6{
    grid-area: card6;
    background-color: white;
    margin: 15px;
    border-left: 5px solid #f1b32b;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
}

.icons{
    display: flex;
    justify-content: flex-end;
}

.icons svg{
    margin: 10px;
}

.announcetrend{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px 1fr;
    margin: 20px;
}

.smalltext  svg{
    height: 20px;
    width: 20px;
    fill: white;
    margin-right: 20px;
} 

/* svg {
    height: 20px;
    width: 20px;
} */

.searchbar{
    height: 20px;
    width: 600px;
    background-color: #e1e8f0;
    border-radius: 25px;
}

.searchbarmega{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
    gap: 10px;
    align-items: center;
}

.threeicons{ 
    display: flex;
    width: 400px;
    grid-template-columns: 50px 50px 50px;
    justify-content: flex-end;
    align-items: center;
}

.threeicons div {
    margin-left: 40px;
}

.username{
    font-weight: bold;
}

button{
    background-color: #1892d3;
    color: white;
    border-radius: 25px;
    border: none;
    height: 40px;
    width: 70px;
    font-weight: bold;
}

.announcements{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.trend{
    background-color: white;
    width: 250px;
}

.trending{
    border-radius: 10px;
    padding: 15px;
    background-color: white;;
    height: 250px;
}

.announce{
    padding: 10px;
    border-bottom: 1px lightblue solid;
}

.iconlabel{
    display: flex;
}

.iconname{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center;
}

.gray{
    color: gray;
}

.mainic{
    display: grid;
    grid-template-columns: 20px 300px;
    align-items: center;
    margin-left: 15px;
    margin-right: 390px;
}

.riz{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
}

